.video_thumbnail {
    position: relative;
    transition: transform 500ms;
  }
  .zoom_on_hover .video_thumbnail:focus,
  .zoom_on_hover .video_thumbnail:hover {
    transform: scale(1.17);
    z-index: 1;
  }
  .video_thumbnail{
    position: relative;
    float: left;
  }
  .video_thumbnail .video_description{
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgb(19, 49, 78);
    color: white;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
  }
  .video_thumbnail:hover{
    cursor: pointer;
  }
  .video_thumbnail:hover .video_description{
    visibility: visible;
    opacity: 0.7; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .carousel_item{
      border-radius: 10px;
  }
  @media (min-width: 768px) {
      .AllCategoryVideo{
          margin-top: 72px;
      }
  }
  @media (max-width: 768px) {
      .AllCategoryVideo{
          margin-top: 56px;
      }
  }
  @media (max-width: 1600px) {
      .carousel_item_8{
          display: none;
      }
  }
  @media (max-width: 1400px) {
      .carousel_item_7{
          display: none;
      }
  }
  @media (max-width: 1200px) {
      .carousel_item_6{
          display: none;
      }
  }
  @media (max-width: 1000px) {
      .carousel_item_5{
          display: none;
      }
  }
  @media (max-width: 800px) {
      .carousel_item_4{
          display: none;
      }
  }
  @media (max-width: 600px) {
      .carousel_item_3{
          display: none;
      }
  }
  
  
  